<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
    <link rel="stylesheet" href="{{ url_for("static", filename="main.css") }}">

    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
    {% endblock %}
</head>
<body>

<div class="ui large main menu">

    <a href="{{ url_for("categoryView") }}" class="header item">
        <img src="{{ url_for("static", filename="logo.png") }}">
    </a>



    <div class="right menu">
        <div class="ui dropdown item">
            <i class="wrench icon"></i>
            Actions
            <div class="menu">
                {# Set category id if present (only when viewing category) so appropriate category is selected #}
                <a href="{{ url_for("addItem", category_id=category.id) if category else url_for("addItem", category_id=1) }}" class="item">Add item</a>
                <a href="{{ url_for("addCategory") }}" class="item">Add category</a>
                <a href="{{ url_for("categoryView") }}" class="item">Main menu</a>
                <div class="item">
                    Info
                </div>
            </div>
        </div>

        <div class="item">
            <div class="content padded">
                <div class="header">Welcome <strong>Magda</strong>!</div>
                <div class="meta">
                    <span class="logout">Not you? <a href="#">Log out</a></span>
                </div>
            </div>

            <div class="ui circular mini spaced image">
                <img src="{{ url_for("static", filename="user.jpg") }}">
            </div>
        </div>

    </div>

</div>

{% block content %}
{% endblock %}

<div class="footer">

</div>

</body>
</html>