<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Item App - Log in page</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
        <link rel="stylesheet" href="{{ url_for("static", filename="main.css") }}">

        <script
                src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous">
        </script>
        <script src="//apis.google.com/js/platform.js?onload=start"></script>

        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
    {% endblock %}
</head>
<body>


<div class="whole-page">
    <div class="ui raised very padded text container center aligned clearing segment">
        <h2 class="ui header">Welcome to Item App page</h2>
        <h4>Please log in (or register) using your google account.</h4>

        <div id="signinButton">
          <span class="g-signin"
                data-scope="openid email"
                data-clientid="806926172667-eqeklcs51c0m8f80jgjl0r3iiqsq5prm.apps.googleusercontent.com"
                data-redirecturi="postmessage"
                data-accesstype="offline"
                data-cookiepolicy="single_host_origin"
                data-callback="onSuccess"
                data-approvalprompt="force">
          </span>
        </div>

    </div>
</div>

<script>

    function onSuccess(googleUser) {
        if (googleUser['code']) {

            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{ state }}',
                processData: false,
                data: googleUser['code'],
                contentType: 'application/octet-stream; charset=utf-8',
                success: function (result) {
                    if (result) {
                        window.location.href = "/";

                    } else {
                        console.log('There was an error: ' + authResult['error']);
                    }
                }

            });
        }
    }

</script>


</body>

</html>