<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item App</title>
</head>
<body>
    <h1>Avaliable categories</h1>
    <ul>
    {% for category in categories %}
        {% if category.id == category_id %}
        {% endif %}
        <li>{{ category.name }}</li>
    {% endfor %}
    </ul>

    <h1>Chosen category:

    {% for category in categories %}
        {% if category.id == category_id %}
            {{ category.name }}
        {% endif %}
    {% endfor %}

    </h1>
    <h2>Avaliable items:</h2>
    <ul>
    {% for item in items %}
        <li>{{ item.name }}</li>
    {% endfor %}
    </ul>
</body>
</html>